@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    
        <div class="panel-heading">
            <div class="panel-heading text-center">
                Name:  Suzanne Schneider <br />
                ID:  991391943 <br />
                Assignment: #2 <br />
                Prof: Syed Tanbeer <br />
            </div>
        </div>


        <!-- the text is centered using bootstrap and a button that links to the RsvpForm View-->
        <div class="text-center">
            <h3>We're going to have an exciting Student Competition!</h3>
            <h4>And you are invited</h4>
            <a class="btn btn-primary" asp-action="RegistrationForm">REGISTER NOW</a>

        </div>


    </body>

</html>
