<!--
   Name:  Suzanne Schneider
   ID:  991391943
   Assignment: #2
   Prof: Syed Tanbeer 
-->

@model Student_Competition.Models.GuestResponse
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration Form</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel-heading">
        <div class="panel-heading text-center">
            Name:  Suzanne Schneider <br />
            ID:  991391943 <br />
            Assignment: #2 <br />
            Prof: Syed Tanbeer <br />
            </div>
        </div>


    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>Register</h4></div>
        <div class="panel-body">
            <!-- This is a form for all of the variables in the Guest response class -->
            <form class="p-a-1" asp-action="RegistrationForm" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Name">Your name:</label>
                    <input class="form-control" asp-for="Name" />
                </div>
                <div class="form-group">
                    <label asp-for="Address">Your address:</label>
                    <input class="form-control" asp-for="Address" />
                </div>
                <div class="form-group">
                    <label asp-for="Email">Your email:</label>
                    <input class="form-control" asp-for="Email" />
                </div>
                <div class="form-group">
                    <label asp-for="Phone">Your phone:</label>
                    <input class="form-control" asp-for="Phone" />
                </div>
                <div class="form-group">
                    <label>Social Network Interest: </label>
                    <select class="form-control" asp-for="SocialNetworkInterest">
                        <option value="">Choose an option</option>
                        <option value="Facebook">Facebook</option>
                        <option value="Twitter">Twitter</option>
                        <option value="LinkedIn">LinkedIn</option>
                        <option value="Youtube">Youtube</option>
                        <option value="Instagram">Instagram</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Technical Interest: </label>
                    <select class="form-control" asp-for="Interest">
                        <option value="">Choose an option</option>
                        <option value="IoT">Internet of Things</option>
                        <option value="MotionSensors">Motion Sensor Technology</option>
                        <option value="DataAnalytics">Data Analytics Tools</option>
                        <option value="Programming">Computer Programming</option>
                    </select>
                </div>
                
                    <div class="text-center">
                        <button name="submit" class="btn btn-primary" type="submit" id="yes" value="true">Accept Invitation</button>

                    </div>
                <br />
                    <div class="text-center">
                        <button name="submit" class="btn btn-primary" type="submit" id="no" value="false">Send Regrets</button>
                    </div>
                

            <!-- <div class="form-group">
                    <label>Will you attend?</label>
                    <select class="form-control" asp-for="WillAttend">
                        <option value="">Choose an option</option>
                        <option value="true">Yes, I'll be there</option>
                        <option value="false">No, I can't come</option>
                    </select>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Submit Registration</button>

                </div>
                -->   

            </form>

        </div>
    </div>
</body>
</html>

